<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="GroceryShopper.Droid" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="19" />
	<application android:label="Grocery Shopper" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Holo.Light"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>